body {
  font-family: 'Poppins';
}

main {
  background-color: rgba(88, 88, 88, 0.8) !important;
  /* Agregué transparencia para un efecto de overlay */
  width: 100%;
  height: 100vh;
  position: relative;
}

#contenedorPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(126, 71, 253);
  height: 100vh;
  position: relative;
  z-index: 1;
  /* Agrega un z-index base */
}

#nuevaTarea {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  gap: 10px;
  width: 250px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* Mayor z-index para que aparezca por encima */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Opcional: añade sombra */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 49, 90, 0.8);
  z-index: 2;
}

#btnClose{
  cursor: pointer;
}


#nuevaTarea h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: black;
}

#nuevaTarea p {
  font-size: 0.7em;
}

#nuevaTarea input {
  border: 1px solid black;
  background-color: #f0eeee;
  padding: 10px 25px;
  border-radius: 10px;
}

#nuevaTarea button{
  background-color: #0077b6;
  border: none;
  border-radius: 8px;
  padding: 12px 26px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

#nuevaTarea button:hover{
  background-color: #000;
}

#nuevaTarea span i{
  font-size: 1.2em;
  color: #0077b6;
}

#menuSuperior {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  width: 400px;
  border-bottom: 1px black solid;
}

#menuSuperior ul {
  display: flex;
  padding-top: 25px;
  gap: 25px;
  font-weight: 200;
}

#menuSuperior ul li {
  padding-bottom: 15px;
}

#menuSuperior ul li:hover {
  font-weight: 500;
}

#contenido {
  background-color: #f8f9fa;
  width: 400px;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#headerTareas {
  padding: 28px 24px;
  display: flex;
  justify-content: space-between;
}

#headerTareas div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#headerTareas div h2 {
  font-size: 1.3em;
  font-weight: 600;
}

#headerTareas div p {
  font-size: 0.8em;
  font-weight: 300;
  color: #585858;
}

#headerTareas div button {
  background-color: #caf0f8;
  border: none;
  border-radius: 8px;
  padding: 12px 26px;
  color: #0077b6;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;

}

#headerTareas div button:hover {
  background-color: black;
  color: white;
}

#menuTareas {
  padding: 20px 24px;
}

#menuTareas ul {
  display: flex;
  justify-content: space-between;
  color: #585858;
}

#menuTareas ul li:hover {
  font-weight: 600;
  color: #0077b6;
}

#listaTareas {
  padding: 28px 24px;
  display: flex;
}

#listaTareas ul li {
  background-color: white;
  width: 320px;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#listaTareas .tareaContenedor {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#listaTareas ul li h3 {
  font-size: 1.1em;
  font-weight: 500;
}

#listaTareas ul li p {
  font-size: 0.8em;
  font-weight: 300;
  color: #585858;
}

#listaTareas ul li span i {
  font-size: 1.4em;
  color: #0077b6;
}

.active-font {
  font-weight: 500;
  border-bottom: 2px black solid;
}

.active-font-blue {
  font-weight: 600;
  color: #0077b6;
  padding-right: 5px;
  border-bottom: 2px solid #0077b6;
}

.completed-text {
  text-decoration: line-through;
}

.hidden{
  display: none !important;
}